*{
    margin: 0px;
}
.navbar {
    height: 70px;
    background-color: #19708a;

}

.navbar ul {
    display: flex;
}
.box1{
    display: flex;
    justify-content: space-between;
    width: 13%;
    position: absolute;
    right: 30px;
    top: 10;
    box-sizing: border-box;
    height: 70px;
}
.box1 .profileImagebox li{
    width: 50px;
    height: 50px;
    margin-top: 8px;
    border: 1px solid black;
    border-radius: 25px;


}
.box1 .profileImagebox li img{
    width: 100%;
    height: 50px;
    border-radius: 25px;

}
.box1 .libox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    box-sizing: border-box;
    width: 100%;
    margin-right: 20px;
    
}

.navbar li {
    margin-left: 30px;
    list-style: none;
    color: black;
}
.navbar li a{
    color: rgb(61, 53, 53);
}
h2{
    margin-top: 25%;
    
}
.libox .signup-btn{
    border: 1px solid grey;
    padding: 8px;
    text-decoration: none;
    background-color:yellow;
    font-size: 18px;
}
.libox .signup-btn:hover{
    border: 1px solid grey;
    background-color:rgb(14, 220, 243);
}
.profile {
    width: 44px;
}
p{
    color: black;
}