*{
  margin: 0px;
}
table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  margin-top: 50px;
}
tr th{
  font-size: 20px;
}

th, td {
  padding: 4px;
  border-bottom: 2px solid #ddd;
}
td{
    text-align: center;
}

h1{
    text-align: center;
    margin-top: 30px;
}

tr th{
        padding: 10px;
        font-size: 25px;
        border: 2px solid grey;
    }
    td{
        text-align: center;
        border: 2px solid grey;
    }
tr:nth-child(even) {
    background-color: #dddddd;
}
