<!DOCTYPE html>
<html>

<head>
    <title>User Data</title>
    <link rel="stylesheet" href="homePage.css">
</head>

<body>

    <div class="navbar">
        <ul>
                <div class="h2">
                    <h2>Navbar</h2>
                </div>
                <div class="box1">
                    <div class="libox">
                        <li><a class="signup-btn" href="http://localhost:4000/register">Sign Up</a></li>
                        <li><a class="signup-btn" href="http://localhost:4000/login">Login</a></li>
                    </div>
                    <!-- <div class="profileImagebox">                    
                        <li class="profile">
                            <img class="profile-image" src="" alt="Image">
                        </li>
                    </div> -->

                </div>
         
        </ul>
    </div>   
  



</body>

</html>